@charset "UTF-8";
/* Site bars */
.site-body-left-column,
.site-body-left-column:before {
  /*background-color: rgb(49, 49, 49);*/
  border-right: none !important;
}

.site-body-left-column-site-name::before {
  background: none;
  display: block;
  content: url(https://github.com/iyioon/Uploads/blob/main/iyioon50.png?raw=true);
  width: 100%;
}

.site-body-left-column-site-name {
  text-align: center;
  margin: 0 auto;
}

/* Tables */
.markdown-preview-view th {
  font-weight: var(--bold-weight);
  text-align: left;
  border-top: none;
}
.markdown-preview-view th:last-child,
.markdown-preview-view td:last-child {
  border-right: none;
}
.markdown-preview-view th:first-child,
.markdown-preview-view td:first-child {
  border-left: none;
  padding-left: 0;
}
.markdown-preview-view tr:last-child td {
  border-bottom: none;
}

/*Color of Italic*/
i,
em,
span.cm-em {
  color: #ff0000;
}

/* Table Center */
table {
  width: 100%;
}

/* Center text */
.center-menu {
  display: block;
  text-align: center;
}

.right-menu {
  display: block;
  text-align: right;
}

.left-menu {
  display: block;
  text-align: left;
}

/* EDIT MODE */
.HyperMD-header.HyperMD-header-1 {
  text-align: center;
}

/* PREVIEW MODE */
.markdown-preview-view h1 {
  text-align: center;
}
img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* hierarchical ordering:  */
/*
ol {
  counter-reset: item;
}
ol li {
  display: block;
}
ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}
section > ol li::before {
  position: relative;
}
*/

/**Readable Line width**/
.markdown-preview-view.is-readable-line-width .markdown-preview-sizer,
.markdown-source-view.is-readable-line-width .CodeMirror {
  max-width: 40rem;
}

/** Font size and colors for headers**/
.markdown-preview-view h1 {
  font-size: 1.5em;
  /**color: #4062a5;**/
}
.cm-header-1 {
  font-size: 1.5em;
  /**color: #4062a5**/
}

.markdown-preview-view h2 {
  font-size: 1.5em;
  /**color: #4f79cb;**/
  border-bottom: 1px solid #ccc; /**Add Bottom border**/
  padding-top: 40px !important;
}
.cm-header-2 {
  font-size: 1.5em;
  /**color: #4f79cb;**/
  border-bottom: 1px solid #ccc; /**Add Bottom border**/
  padding-top: 40px !important;
}

.markdown-preview-view h3 {
  font-size: 1.25em;
  font-weight: 600;
}
.cm-header-3 {
  font-size: 1.25em;
  font-weight: 600;
}

.markdown-preview-view h4 {
  font-size: 1em;
}
.cm-header-4 {
  font-size: 1em;
}

.markdown-preview-view h5 {
  font-size: 1em;
}
.cm-header-5 {
  font-size: 1em;
}

.markdown-preview-view h6 {
  font-size: 1em;
  color: --text-normal;
}
.cm-header-6 {
  font-size: 1em;
  color: --text-normal;
}
