/* Tables */
.md-typeset__table {
  min-width: 100%;
}

.md-typeset table:not([class]) {
  display: table;
}

.center-menu {
  display: block;
  text-align: center;
}

.right-menu {
  display: block;
  text-align: right;
}

.left-menu {
  display: block;
  text-align: left;
}

.markdown-embed * {
  max-height: 500px;
}

h1 {
  text-align: center !important;
  font-weight: bold !important;
}

h2 {
  border-bottom: 1px solid #ccc !important; /**Add Bottom border**/
  padding-top: 60px !important;
  font-weight: bold !important;
}

h3 {
  padding-top: 60px !important;
  font-weight: bold !important;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
}

i,
em,
span.cm-em {
  color: #ff0000;
}
